.login__section{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 336px);

}
.login__section h3 {
  text-align: center;
}
.loginForm{
  width: 350px;
  margin: 20px auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
  padding: 20px 30px;
  border-radius: 5px;
}

.loginForm__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}


.loginForm__list input {
  width: 72%;
  padding: 3px 0px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  outline: none;
}

.btnContainer button{
  margin-right: 10px;
}